@model List<User>



<table class="table">

	<thead>
		<a asp-action="index">get all contacts</a>
		

		<tr>
			<th>Iddddddd</th>
			<th>Name</th>
			<th>Server</th>
			<th>Last</th>
			<th>LastDate</th>


		</tr>


	</thead>

	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>
					@user.Id
				</td>

				<td>
					@user.Name
				</td>
				
				

				<td>
					//razor
					<a asp-action="Details" asp-route-id="@user.Id">DETAILS</a>
					<a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
					<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>


				</td>
			</tr>
		}
	</tbody>
</table>

