@model List<User>



<table class="table">

	<thead>
		<a asp-action="Create">Create1</a>

		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Server</th>
			<th>Last</th>
			<th>LastDate</th>


		</tr>


	</thead>

	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>
					@user.Id
				</td>

				<td>
					@user.Name
				</td>
				<td>
					@user.Server
				</td>

				<td>
					@user.Last
				</td>
				<td>
					@user.LastDate
				</td>



				<td>
				
					<a asp-action="Details" asp-route-id="@user.Id">DETAILS</a>
					<a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
					<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
					

				</td>
			</tr>
		}
	</tbody>
</table>

<script src="~/js/rest.js"></script>